.container {
  width: 80vw;
  margin: auto;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.box {
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}


.box-header {
  padding: 16px;
  margin: -1px -1px 0;
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 14px;
  font-weight: 600;
}

.inner-box {
  margin: 0 2rem 0 2rem;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  background: #f6f8fa !important
}

.float-right {
  float: right;
}
